{% extends 'WebAppBundle:Default:baseTemplate.html.twig' %}

{% block content %}
    <div class="row marketing">
        <div class="col-lg-12">

            {% block description %}
            {% endblock %}

            {% block form %}

            {% endblock %}

            <hr>

            <button type="button" class="btn btn-default btn-sm" id="post">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span> POST
            </button>

            <hr>

        </div>

        <div class="col-lg-12">
            <pre id="console">Responses will appear here...</pre>
        </div>
    </div>

    {% block js %}

    {% endblock %}
{% endblock %}