{% extends 'WebAppBundle:Default:baseTemplate.html.twig' %}

{%  block content %}
    <div class="row marketing">
        <div class="col-lg-12">
            <h1>tSwap test area</h1>
            <p class="lead">Welcome to the test area, here you will be able to test some endpoints of our API.</p>

            <hr>

            <h3>What can you do here?</h3>

            <h4>Create Users</h4>
            <p>You can create a user to interact with the API.</p>

            <h4>Create Listings</h4>
            <p>You can create a listing to sell your tickets specifying their barcodes.</p>

            <h4>Buy Listings</h4>
            <p>If you see a listing you like (and have some virtual money!) you can buy it!.</p>

            <h4>List Listings</h4>
            <p>Just for browsing.</p>

            <h4>List Users</h4>
            <p>Just to see if who is around.</p>
        </div>
    </div>
{% endblock %}