{% extends 'WebAppBundle:Default:formPage.html.twig' %}

{% block description %}
    <h3>Listings</h3>
    <p>To create a listing specify the following data.</p>
{% endblock %}

{% block form %}
    <form id="user-form">
        user id:<br>
        <input type="text" id="userId"><br>

        Selling price:<br>
        <input type="text" id="sellingPrice"><br>

        Description:<br>
        <input type="text" id="description"><br>

        Barcodes of the 1st ticket (comma separated)<br>
        <input type="text" id="barcodes_1"><br>

        Barcodes of the 2nd ticket (comma separated)<br>
        <input type="text" id="barcodes_2"><br>

        Barcodes of the 3rd ticket (comma separated)<br>
        <input type="text" id="barcodes_3"><br>

        <hr>
        <p>Note: The api allows listings to be created with n tickets, but this super simple form does not...</p>
    </form>
{% endblock %}

{% block js %}
    <script>
        function printResponse(data) {
            $('#console').html(JSON.stringify(data, null, 2));
        }
        $(document).ready(function () {
            $('#post').click(function () {

                var userId = $('#userId').val();
                var sellingPrice = $('#sellingPrice').val();
                var description = $('#description').val();
                var barcodes_1 = $('#barcodes_1').val() ? $('#barcodes_1').val().split(',') : null;
                var barcodes_2 = $('#barcodes_2').val() ? $('#barcodes_2').val().split(',') : null;
                var barcodes_3 = $('#barcodes_3').val() ? $('#barcodes_3').val().split(',') : null;

                var data = {
                    "user_id": userId,
                    "selling_price": sellingPrice,
                    "description": description,
                    "tickets": []
                };

                if (barcodes_1) { data.tickets.push({'barcodes': barcodes_1}); }
                if (barcodes_2) { data.tickets.push({'barcodes': barcodes_2}); }
                if (barcodes_3) { data.tickets.push({'barcodes': barcodes_3}); }


                if (userId && sellingPrice && description && barcodes_1) {
                    $.ajax({
                        type: "POST",
                        url: "/listing",
                        data: data,
                        success: function (data) {
                            printResponse(data)
                        },
                        error: function (data) {
                            printResponse(data.responseJSON)
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}