{% extends 'WebAppBundle:Default:baseTemplate.html.twig' %}

{% block content %}
    <div class="row marketing">
        <div class="col-lg-12">

            {% block description %}
            {% endblock %}

            <hr>

            {% block list %}
            {% endblock %}
    </div>

{% endblock %}