{% extends 'WebAppBundle:Default:listingPage.html.twig' %}

{% block content %}
    <div class="row marketing">
    <div class="col-lg-12">

        {% block description %}
            <h3>Listings list</h3>
            <p>Here you can see a list of all the current listings.</p>
        {% endblock %}

        <hr>

        {% block list %}
            {% for listing in listings %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>#{{ listing.id }}</h4>
                        Description: {{ listing.description }}<br>
                        Price: {{ listing.sellingPrice }} Coins<br>

                        Created by: user #{{ listing.user.id }} ({{ listing.user.name }})

                        <hr>

                            {% for ticket in listing.tickets %}
                                Ticket #{{ ticket.id }} -

                                {% if ticket.boughtAt %}
                                    Bought at: {{ ticket.boughtAt|date("m/d/Y") }}

                                    {% if ticket.boughtByUser %}
                                        by user #{{ ticket.boughtByUser.id }} ({{ ticket.boughtByUser.name }})
                                    {% endif %}
                                {% endif %}


                                <br>


                                <ul>
                                    {% for barcode in ticket.barcodes %}
                                        <li>bc: {{ barcode.barcode }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}

                    </div>
                </div>
            {% endfor %}
        {% endblock %}
    </div>

{% endblock %}