{% extends 'WebAppBundle:Default:formPage.html.twig' %}

{% block description %}
    <h3>Purchase</h3>
    <p>To purchase a Listing specify the following data.</p>
{% endblock %}

{% block form %}
    <form id="user-form">
        user id:<br>
        <input type="text" id="userId"><br>

        Listing id:<br>
        <input type="text" id="listingId"><br>
    </form>
{% endblock %}

{% block js %}
    <script>
        function printResponse(data) {
            $('#console').html(JSON.stringify(data, null, 2));
        }
        $(document).ready(function () {
            $('#post').click(function () {

                var userId = $('#userId').val();
                var listingId = $('#listingId').val();

                if (userId && listingId) {
                    $.ajax({
                        type: "POST",
                        url: "/listing/" + listingId + "/buy",
                        data: {"user_id": userId},
                        success: function (data) {
                            printResponse(data)
                        },
                        error: function (data) {
                            printResponse(data.responseJSON)
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}