{% extends 'WebAppBundle:Default:formPage.html.twig' %}

{% block description %}
    <h3>Users</h3>
    <p>To create a user specify the name.</p>
{% endblock %}

{% block form %}
    <form id="user-form">
        Name:<br>
        <input type="text" id="name">
    </form>
{% endblock %}


{% block js %}
    <script>
        function printResponse(data) {
            $('#console').html(JSON.stringify(data, null, 2));
        }
        $(document).ready(function () {
            $('#post').click(function () {
                var name = $('#name').val();
                if (name) {
                    $.ajax({
                        type: "POST",
                        url: "/user",
                        data: {"name": name},
                        success: function (data) {
                            printResponse(data)
                        },
                        error: function (data) {
                            printResponse(data.responseJSON)
                        },
                        dataType: "json"
                    });
                }
            });
        });
    </script>
{% endblock %}