{% extends 'WebAppBundle:Default:listingPage.html.twig' %}

{% block content %}
    <div class="row marketing">
    <div class="col-lg-12">

        {% block description %}
            <h3>Users list</h3>
            <p>Here you can see a list of all the users.</p>
        {% endblock %}

        <hr>

        {% block list %}
                {% for user in users %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>#{{ user.id }}</h4>
                            Name: {{ user.name }}<br>
                        </div>
                    </div>
                {% endfor %}
        {% endblock %}
    </div>

{% endblock %}