<nav class="navbar navbar-default navbar-fixed-top">
    <a class="navbar-brand" href="{{ path('web_app_index') }}">tSwap</a>

    <ul class="nav navbar-nav">
        <li {% if (active == 'users') %}class="active"{% endif %}>
            <a href="{{ path('web_app_users') }}">Users API</a>
        </li>
        <li {% if (active == 'listings') %}class="active"{% endif %}>
            <a href="{{ path('web_app_listings') }}">Listings API</a>
        </li>
        <li {% if (active == 'purchase') %}class="active"{% endif %}>
            <a href="{{ path('web_app_purchase') }}">Purchase API</a>
        </li>

        <li {% if (active == 'users_list') %}class="active"{% endif %}>
            <a href="{{ path('web_app_users_list') }}">Users List</a>
        </li>

        <li {% if (active == 'listings_list') %}class="active"{% endif %}>
            <a href="{{ path('web_app_listings_list') }}">Listings List</a>
        </li>

    </ul>
</nav>